@charset "UTF-8";


@media screen and (min-width: 576px) {
    .header-content {
        text-align: center;
    }

    header h1 {
        margin: auto;
        font-size: 2.0rem;
    }

    header p {
        margin: auto;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .button {
        width: 25%;
    }

    .text-content {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .text-content h2, h1 {
        font-size: 2.2rem;
    }

    main img {
        width: 70%;
        margin: auto;
    }
}

@media screen and (min-width: 1156px) {
    .header-content {
        text-align: center;
    }

    header {
        background-size: cover;
        margin: auto;
    }

    header h1 {
        margin: auto;
        font-size: 2.0rem;
    }

    header p {
        margin: auto;
        width: 757px;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .button {
        width: 25%;
    }

    section {
        flex-direction: row;
        margin: auto;
        width: 85%;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .text-content h2, h1 {
        font-size: 2.2rem;
    }

    #last-content {
        flex-direction: column;
        text-align: center;
    }

    #middle-content {
        flex-direction: row-reverse;
    }
}